---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

import site from '@/data/site'
import Layout from '@/layouts/Layout.astro'
import Spotify from '@/components/embed/Spotify.astro'
import Date from '@/components/utils/Date.astro'
import TagsPost from '@/components/TagsPost.astro'
import Article from '@/components/ui/Article.astro'
import Title from '@/components/ui/Title.astro'

export async function getStaticPaths() {
	const posts = await getCollection('posts')

	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post }
	}))
}
// type Props = CollectionEntry<'posts'>
// const post: CollectionEntry<'blog'> = Astro.props.post

const { post } = Astro.props

const { Content } = await post.render()
---

<Layout
	seo={{
		title: post.data.title,
		description: post.data.description ?? site.description,
		openGraph: {
			basic: {
				title: post.data.title,
				type: 'article',
				image: post.data.image.src
			}
		}
	}}
>
	<Article>
		<header>
			<!-- {
				post.data.category && (
					<Link
						size={'lg'}
						style={'inverted'}
						href={`/${site.urls.category}/${slugifyStr(post.data.category)}`}
						class="my-14"
					>
						{post.data.category}
					</Link>
				)
			} -->
			<Title transition:name={`post-title-${post.data.title}`}>
				{post.data.title}
			</Title>
			<p class="mb-8 text-xl">{post.data.description}</p>
		</header>

		<Image
			alt={post.data.title}
			src={post.data.image}
			class="my-4 aspect-video w-full rounded bg-gray-200 object-cover dark:bg-gray-800"
			width="720"
			transition:name={`post-image-${post.data.title}`}
		/>

		<div class="my-2 flex flex-row justify-between">
			<Date date={post.data.date} />
			<!-- <span>Reading time: {post.data.reading}</span> -->
			<TagsPost tags={post.data.tags} />
		</div>

		<div
			class:list={[
				'prose-lg prose-gray text-pretty prose-blockquote:border-l-8 prose-img:rounded prose-img:bg-gray-200',
				'dark:prose-h2:text-color-white dark:prose-a:text-color-white dark:prose-blockquote:border-l-color-black dark:prose-blockquote:text-color-white dark:prose-img:bg-gray-800'
			]}
		>
			<Content components={{ Spotify }} />
		</div>
	</Article>
</Layout>
