---
import { getCollection } from 'astro:content'

import TableContents from '@/components/TableContents.astro'
import Tags from '@/components/Tags.astro'
import Spotify from '@/components/embed/Spotify.astro'
import Article from '@/components/ui/Article.astro'
import Title from '@/components/ui/Title.astro'
import Date from '@/components/utils/Date.astro'
import site from '@/data/site'
import Layout from '@/layouts/Layout.astro'
import { Picture } from 'astro:assets'

export async function getStaticPaths() {
	const posts = await getCollection('posts')

	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post }
	}))
}
// type Props = CollectionEntry<'posts'>
// const post: CollectionEntry<'blog'> = Astro.props.post

const { post } = Astro.props
const { Content, headings } = await post.render()
---

<Layout
	seo={{
		title: post.data.title,
		description: post.data.description ?? site.description,
		openGraph: {
			basic: {
				title: post.data.title,
				type: 'article',
				image: post.data.image.src
			}
		}
	}}
>
	<Article>
		<header>
			<!-- {
				post.data.category && (
					<Link
						size={'lg'}
						style={'inverted'}
						href={`/${site.urls.category}/${slugifyStr(post.data.category)}`}
						class="my-14"
					>
						{post.data.category}
					</Link>
				)
			} -->
			<Title transition:name={`post-title-${post.data.title}`}>
				{post.data.title}
			</Title>
			<p class="mb-8 text-xl">{post.data.description}</p>
		</header>

		<Picture
			alt={post.data.title}
			src={post.data.image}
			class="my-4 aspect-video w-full rounded bg-gray-200 object-cover dark:bg-gray-800"
			transition:name={`post-image-${post.id}`}
			loading="eager"
			formats={['avif', 'webp']}
			widths={[540, 780, 1020]}
			quality={99}
		/>
		<!-- <Image
			alt={post.data.title}
			src={post.data.image}
			class="my-4 aspect-video w-full rounded bg-gray-200 object-cover dark:bg-gray-800"
			width="720"
			transition:name={`post-image-${post.data.title}`}
			loading="eager"
		/> -->

		<div class="my-2 flex flex-col justify-between md:flex-row">
			<Date date={post.data.date} />
			<!-- <span>Reading time: {post.data.reading}</span> -->
			<Tags tags={post.data.tags} size="sm" intent="tag" />
		</div>

		<div
			class:list={[
				'prose-lg prose-gray text-pretty prose-blockquote:border-l-8 prose-img:rounded prose-img:bg-gray-200',
				'dark:prose-h2:text-color-white dark:prose-a:text-color-white dark:prose-blockquote:border-l-color-black dark:prose-blockquote:text-color-white dark:prose-img:bg-gray-800'
			]}
		>
			<TableContents {headings} />
			<Content components={{ Spotify }} />
		</div>
	</Article>
	<!-- <Section>
		<h2>Related</h2>
		<PostListCategory category={post.data.category} />
	</Section> -->
</Layout>
