---
import PostList from '@/components/content/PostList.astro'
import Tags from '@/components/content/Tags.astro'
import Divider from '@/components/ui/Divider.astro'
import Section from '@/components/ui/Section.astro'
import Title from '@/components/ui/Title.astro'
import Pagination from '@/components/utils/Pagination.astro'
import site from '@/data/site'
import Layout from '@/layouts/Layout.astro'
import getPostsByTag from '@/utils/getPostsByTag'
import getUniqueTags from '@/utils/getUniqueTags'
import { type GetStaticPaths, type Page } from 'astro'
import { getCollection, type CollectionEntry } from 'astro:content'

interface Props {
  page: Page<CollectionEntry<'posts'>>
  tagName: string
}

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const allPosts = await getCollection('posts')
  const allTags = getUniqueTags(allPosts)

  return allTags.flatMap((tag) => {
    const filteredPosts = getPostsByTag(allPosts, tag.tag)

    return paginate(filteredPosts, {
      params: { tag: tag.tag },
      props: { tagName: tag.tagName },
      pageSize: site.pagination,
    })
  })
}

const posts = await getCollection('posts')
let tags = getUniqueTags(posts)
const { page, tagName } = Astro.props
// const params = Astro.params
---

<Layout seo={{ title: 'Tag ' + tagName }}>
  <!-- <TagPosts {...pagination} {tag} {tagName} /> -->
  <Section>
    <header class="mb-2 flex flex-col">
      <Title>{tagName}</Title>
    </header>
    <PostList posts={page.data} />
    <Pagination {page} />
  </Section>

  <Divider />

  <Section>
    <h2 class="text-3xl font-black">Other tags</h2>
    <Tags {tags} />
  </Section>
</Layout>
