---
import { getCollection } from 'astro:content'
// import Header from '@/components/Header.astro'
// import Footer from '@/components/Footer.astro'
import Layout from '@/layouts/Layout.astro'
// import Main from '@/layouts/Main.astro'
// import Category from '@/components/Category.astro'
import getUniqueCategories from '@/utils/getUniqueCategories'
import { site } from '@/data/site'
import Title from '@/components/ui/Title.astro'
import Link from '@/components/ui/Link.astro'

const posts = await getCollection('posts')

let categories = getUniqueCategories(posts)
---

<Layout seo={{ title: 'Categories' }}>
	<!-- <Layout title={`Categories | ${site.title}`}> -->
	<!-- <Header activeNav="categories" /> -->
	<!-- <Main pageTitle="Categories" pageDesc="All the categories used in posts."> -->
	<main>
		<Title>Categories</Title>
		<ul>
			<!-- {categories.map(({ category }) => <Category {category} size="lg" />)} -->
			{
				categories.map(({ category }) => (
					<Link href={`/${site.urls.category}/${category}`}>{category}</Link>
				))
			}
		</ul>
	</main>
	<!-- <Footer /> -->
</Layout>
