---
import Link from '@/components/ui/Link.astro'
// import { Icon } from 'astro-icon/components'
import { site } from '@/data/site'
import { getCollection } from 'astro:content'
import getUniqueTags from '@/utils/getUniqueTags'

interface Props {
	// tags: string[] | undefined
	style?: "tag" | "outline" | "primary" | "inverted"
	size?: "md" | "sm" | "lg"
}
const posts = await getCollection('posts')

let tags = getUniqueTags(posts)

const { style="tag", size="md" } = Astro.props
---

{
	tags && (
		<ul class="flex flex-row gap-2 m-0 p-0">
			<!-- <Icon name="ri:price-tag-3-line" title="Tags" /> -->
			{
			tags && (
				<ul class="flex flex-row place-items-center gap-6 my-4">
					{tags.map((tag) => (
						<li class="inline">
							<Link size={size} style={style} href={`/${site.urls.tags}/${tag.tag}`}>
								{tag.tagName}
							</Link>
						</li>
					))}
				</ul>
			)
		}
		</ul>
	)
}


